<div class="row bg-grey">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 padding-left">
    <div class="subnav hide-print">
      <div class="page-container-responsive">
        <ul class="subnav-list">
          <li>
            <%= link_to "Profile", pages_dog_path, class: "subnav-item", id: "dog-profile" %>
          </li>
          <li>
            <%= link_to "Itineraries and places", pages_itineraries_path, class: "subnav-item", id: "itineraries" %>
          </li>
          <li>
            <a href="#" aria-selected="false" class="subnav-item" id="reviews">Likes and dislikes</a>
          </li>
            <li>
              <a href="#" class="subnav-item" id="walk-history">Badges</a>

            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>

<script>
  $(".subnav-item").on("click", function(event) {
    this.toggleClass("active");
});
</script>
