.container-grey {
  background: #F1F2F2;
  height: 200px;
}

.container-dog {
  height: 400px;
}

.container-btn {
  position: absolute;
  top: 430px;
  left: 10%;
}

.wrapper-request {
  background: white;
  border-radius: 35px;
  box-shadow: 0px 1px 5px #888888;
  margin-top: 5px;
  margin-bottom: 5px;
}

.padded-top {
  padding-top: 13px;
}

.padded-top-btn {
  padding-top: 5px;
}

.btn-book {
  background: #4CD6A3;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 150px;
}
